# Environments (Catches .env files anywhere in the project)
.env
.env.*
*.env

# Python Backend
backend/venv/
backend/__pycache__/

# Next.js Frontend
frontend/node_modules/
frontend/.next/

# General OS files
.DS_Storeplans/
